.container{
    display: flex;
     justify-content: center; 
    margin: 50px 40px ;
    gap: 40px;
      width: 800px;
    height: 800px;
    margin-left: 230px;

   
  

}
.container img{
    height: 370px;
    width: 300px;
    border-radius: 15px;
    margin-top: 60px; 
}
.container a{
    color: #8a6f58;
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
    
}
.container h1{
    color: #805a3b; 
    
}
